<script>
export default {
  props: {
    project: {
      type: Object,
      required: true,
    },
  },
  computed: {
    firstCharacter() {
      return this.project.name[0].toUpperCase();
    },
  },
};
</script>

<template>
  <div class="w-64 m-3 border rounded p-3 relative">
    <div class="flex flex-col items-center">
      <div
        class="flex justify-center items-center w-24 h-24 border rounded-full"
      >
        <img
          v-if="project.avatar_url"
          :src="project.avatar_url"
          class="w-full h-full"
        />
        <template v-else>
          <span class="bold text-2xl">{{ firstCharacter }}</span>
        </template>
      </div>
      {{ project.name }}
    </div>
    <div class="text-xs mt-2">
      <div>ID: {{ project.id }}</div>
      <div>Namespace: {{ project.namespace.full_path }}</div>
      <div>Last Activity: {{ project.last_activity_at }}</div>
    </div>
    <a
      class="absolute top-0 right-0 mr-2 mt-2"
      :href="project.web_url"
      target="blank"
      rel="noopener noreferer"
      >🌏</a
    >
  </div>
</template>