
<script>
import { fetchProjects } from "./service";
import AppHeader from "./components/AppHeader";
import ProjectPreview from "./components/ProjectPreview";
import LoadMore from "./components/LoadMore";
import Loader from "./components/Loader";

export default {
  name: "App",
  components: {
    AppHeader,
    ProjectPreview,
    LoadMore,
    Loader,
  },
  data() {
    return {
      // Array<string>
      projects: [],
      // Map<string, Project>
      projectsById: {},
      pageInfo: {},
      loading: false,
    };
  },
  created() {
    this.fetchProjectsPage(1);
  },
  methods: {
    fetchProjectsPage(page) {
      this.loading = true;

      fetchProjects({ page })
        .then(({ data, pageInfo }) => {
          data.forEach((proj) => {
            this.$set(this.projectsById, proj.id, proj);
          });

          this.projects.push(...this.getNewProjectIds(data.map((x) => x.id)));
          this.pageInfo = pageInfo;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    onLoadMore() {
      this.fetchProjectsPage(this.pageInfo.nextPage);
    },
    getNewProjectIds(projIds) {
      const newIds = new Set(projIds);

      this.projects.forEach((id) => {
        newIds.delete(id);
      });

      return projIds.filter((x) => newIds.has(x));
    },
  },
};
</script>

<template>
  <div id="app">
    <div class="flex flex-wrap justify-center pt-5">
      <project-preview
        v-for="id in projects"
        :key="id"
        :project="projectsById[id]"
      />
    </div>
    <div class="flex flex-wrap justify-center">
      <loader v-if="loading" />
      <load-more v-else @click="onLoadMore" />
    </div>
    <app-header class="fixed w-full">GitLab Projects Explorer</app-header>
  </div>
</template>